/*

gdsc knu fe team 4 
nametag (class 로 5개 사용할것)
nametag 내부 photo, name, email, sns.... 위치 지정
before , next로 클릭하면 다음 nametag 나타나게.

*/

/*해상도 1920X1080 ->삭제. viewpoint로 맞춤.*/

/*상단*/
.upper {
    /*GDSC*/
    position: absolute;
    width: 415px;
    height: 41px;
    left: 38.06%;
    top: 20%;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;

    color: #5E6368;
}

.container{
    width: 500px;
    margin: 0 auto;
}

.nametag {
    /*명함위치*/
    position: absolute;
    left: 31.45%;
    right: 31.43%;
    top: 31.57%;
    overflow: hidden;

}

.images{
    position: relative;
    display: flex;
    height: 316px;
}

.img {
    width: 542px;
    height: 316px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

button, button:active, button:focus{
    background: #FFFFFF;
}

button:disabled{
    background-color: #FFFFFF;
}
/*하단 날짜 부분*/
.date{

    /* 2022.12.21. ~ 2023.01.25. */
    position: absolute;
    width: 432px;
    height: 44px;
    left: 37.56%;
    top: 78.72%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 44px;

    color: #5E6368;

}